html, body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #363537;
    color: white;
}


/* Hide Scrollbar & Keep functionality

/* Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }
  
/* IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }